Repository khs1994-website/docker-docs.us-en, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @jedevc, @dvdksn, @aevesdocker, @craig-osterhout, @stephaurelio

Sync from docker/docker.github.io@2ddff03 by PCIT
  desktop/release-notes.md
Owners: @aevesdocker

Sync from docker/docker.github.io@fbf8368 by PCIT
  _includes/admin-group-mapping.md
  _includes/admin-scim.md
  _redirects.yml
Owners: none

Sync from docker/docker.github.io@b92ebe5 by PCIT
  Dockerfile
  _includes/admin-scim.md
  build/ci/github-actions/cache.md
  contribute/components/call-outs.md
  engine/security/trust/deploying_notary.md
  engine/security/trust/trust_sandbox.md
  engine/swarm/stack-deploy.md
  engine/swarm/swarm-tutorial/drain-node.md
  get-started/11_what_next.md
  language/dotnet/develop.md
  language/golang/develop.md
  language/java/develop.md
  language/python/develop.md
  registry/deploying.md
  registry/recipes/apache.md
  registry/recipes/nginx.md
Owners: @crazy-max, @jedevc, @dvdksn

Sync from docker/docker.github.io@bec47fd by PCIT
  SUMMARY.md
  _data/engine-cli/docker_build.yaml
  _data/engine-cli/docker_run.yaml
  _data/toc.yaml
  config/daemon/prometheus.md
  desktop/faqs/general.md
  desktop/networking.md
  language/python/build-images.md
  language/python/configure-ci-cd.md
  language/python/deploy.md
  language/python/develop.md
  language/python/index.md
  language/python/run-containers.md
  scout/data-handling.md
Owners: @aevesdocker, @dvdksn

Sync from docker/docker.github.io@c10a83d by PCIT
  build/building/env-vars.md
  build/release-notes.md
  scout/data-handling.md
Owners: @crazy-max, @jedevc, @dvdksn

Sync from docker/docker.github.io@7d0d57e by PCIT
  build/building/multi-stage.md
  build/cache/backends/index.md
  build/cache/backends/local.md
  docker-hub/images/repo-overview.png
  docker-hub/repos/access/index.md
Owners: @crazy-max, @jedevc, @dvdksn, @aevesdocker, @craig-osterhout, @stephaurelio

Sync from docker/docker.github.io@3c04597 by PCIT
  SUMMARY.md
  _data/toc.yaml
  scout/integrations/environment/index.md
  scout/integrations/index.md
Owners: @dvdksn

Sync from docker/docker.github.io@b9bf169 by PCIT
  .github/vale/Docker/Substitute.yml
  contribute/style/recommended-words.md
Owners: none

Sync from docker/docker.github.io@fae09e6 by PCIT
  SUMMARY.md
  build/hydrobuild.md
  config/containers/logging/dual-logging.md
  robots.txt
Owners: @crazy-max, @jedevc, @dvdksn

Sync from docker/docker.github.io@7fa15e3 by PCIT
  storage/volumes.md
Owners: none

Sync from docker/docker.github.io@4bbeb20 by PCIT
  SUMMARY.md
  _data/toc.yaml
  _includes/admin-sso.md
  compose/compose-file/build.md
  compose/compose-file/deploy.md
Owners: @aevesdocker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/build/ @crazy-max @jedevc @dvdksn

/compose/ @aevesdocker

/desktop/ @aevesdocker

/desktop/extensions/ @aevesdocker

/desktop/extensions-sdk/ @aevesdocker

/scout/ @dvdksn

/docker-hub/ @aevesdocker @craig-osterhout @stephaurelio

/engine/ @dvdksn

/subscription/ @aevesdocker @stephaurelio

/docker-hub/publish/ @aevesdocker

/docker-hub/official_images/ @aevesdocker

/registry/ @dvdksn
